<%= for {location, title, _stats, livemd_location} <- assigns.slide_data do %>
  <div class="slot">
    <h2><%= title %></h2>
    <ul class="links">
      <li><%= link("Презентация", to: location) %></li>
      <%= if livemd_location != :no_live_md do %>
        <li><%= link("LiveBook код", to: livemd_location) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
